<tr>
	<td><%= product.name_product%></td>
	<td><%= product.information%></td>
	<td>$<%= product.price%> </td>
	<td><%= product.type%></td>
	<td><%=product.category.name_category%> </td>
	<td>
		<%= link_to edit_admin_product_path(product) do %>
		  <i class='fas fa-edit' style='font-size:24px'></i>
    <% end %>
		<%= link_to admin_product_path(product), method: :delete do%>
			<i class='far fa-trash-alt' style='font-size:24px'></i>
		<% end %>
	</td>
</tr>