<div class="container">
	<h2>List Products</h2>
	<%=link_to "Create new product", new_admin_product_path, class: "btn btn-origin" %>
	   <%= form_tag @product, url: admin_products_path, :method => 'get', :class => "form-inline" do %>
      <div>
        <%= text_field_tag :search, params[:search], class:'form-control mr-sm-2',placeholder: 'Looking for products' %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-origin' %>
      </div>
    <% end %>
	<table id="products">
		<tr>
			<th>NAME PRODUCT</th>
			<th>INFORMATION</th>
			<th>PRICE</th>
			<th>TYPE</th>
			<th>CATEGORY</th>
			<th>ACTION</th>
		</tr>
		<% @products.each do |product|%>
			<%= render 'product' , product: product%>
		<% end %>
	</table>
	<%= paginate @products, theme: 'twitter-bootstrap-4' %>	
</div>