<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Food Page",root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if logged_in? %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Profile", current_user, class: "dropdown-item" %>
                <%= link_to "Update your Profile", edit_user_url(current_user),class: "dropdown-item" %>
                <%= link_to "Log out", myfood_logout_path, method: :delete,class: "dropdown-item" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Log in", myfood_login_url, method: :get %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</nav>