<!DOCTYPE html>
<html>
  <head>
    <title>Pr2001Pikachu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "layouts/header"%>
    </div>
    <div class="container-fluid">
      <%= yield %>
      <%= render "layouts/footer"%>
    </div>
  </body>
</html>
