<!DOCTYPE html>
<html>
  <head>
    <title>My Food </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if  admin_logged_in? %>
      <%= render 'layouts/header_admin' %>
    <%  elsif logged_in? %>
      <%= render 'layouts/header_user' %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %><div class="container">
      <%= yield %>
    </div>
  </body>
</html>
